// Specific CSS for your home-page
.banner {
  background-image: asset-url("patternpad.svg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 100px;

}

.banner h1 {
  margin: 0;
  color: #1f1f1f;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 25px;
  color: #1f1f1f;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// grid
.grid-index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap:10px;
  grid-row-gap: 10px;
  }

.container {
  max-width: 1100px;
}


.item {
margin: 0px;
padding: 0px;


}

.item-div {
  height: 375px;
  width: 300px;
  box-shadow: 1px 1px 10px 1px #aea8a8;
  border-radius: 1px;
  margin: 0px;

    h5 {
      padding: 25px 0px 25px 0px;
      text-align: center;
      font-weight: bold;
    }
}

#lists {
  padding: 20px;
  margin: 0px;
  max-width: 1000px;
}

a {
  text-decoration: none;
  color: #1f1f1f;

  &:hover {
    color: #1f1f1f;
    opacity: 0.65;

  }
}
