// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: #aea8a8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bo1f1f1fld;
}

.banner p {
  font-size: 25px;
  color: #aea8a8;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// grid
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  }



.item {
background-color: whitesmoke;
height: 200px;
width: 200px;
box-shadow: 1px 1px 10px 1px #aea8a8;
border-radius: 5px;
}

.item-div {

}

#lists {
  padding: 20px;
  margin: 0px;
}
