
.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 500px;
  min-width: 500px;
}

.card-product img {
  height: 100%;
  width: 125px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap:10px;
  grid-row-gap: 10px;
}

.grid-width {
  width: 1000px;
}


#add-movie-form {
  width: 500px;
  margin: 50px;

}

#test {
  position: absolute;
  top: 5vw;
  left: 45vw;


  &:hover {
    background-color: rgba(69, 200, 226, 0.4);
  }
}

a {
  text-decoration: none;
  color: #1f1f1f;

  &:hover {
    color: #1f1f1f;
    opacity: 0.65;

  }
}

.card-product-infos a {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;

   &:hover {
    color: #45c8e2;
    // opacity: 0.5;
   }


}

.card-product-infos {
  div {
    padding-top: 30px;
  }

}
